@use './markdown';

@import './variables.scss';

.mdxeditor {
  max-height: 100%;
  overflow-y: auto;
  font-size: 14px;

  &-wrapper {
    position: relative;
    text-align: left;
    background-color: var(--dme-color-bg-1);
  }

  &-content {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    color: var(--dme-color-text-0);

    &:focus {
      outline: none;
    }

    @include markdown.dom-style;

    hr[data-lexical-decorator='true'].selected::before {
      border: 2px solid var(--dme-color-primary);
    }

    &.editor-content-placeholder {
      color: var(--dme-color-text-3);
      overflow: hidden;
      position: absolute;
      top: 0;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;
      display: inline-block;
      pointer-events: none;
    }
  }
}

.dme-highlight {
  color: var(--dme-color-primary);
  font-weight: 700;
}
