@import './color.scss';

.mdxeditor {
  --font-default: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --width-icon_small: 12px;
  --width-icon_default: 16px;
  --motion-icon_spin-animationDuration: 0.6s;

  --font-size-regular: 14px;

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --height-control-small: 24px;
  --height-control-default: 32px;
  --height-control-large: 32px;

  --border-thinkness: 0;

  --border-radius-small: 3px;
  --border-radius-medium: 6px;
  --border-radius-large: 12px;
  --border-radius-circle: 50%;
  --border-radius-full: 9999px;

  --spacing-none: 0;
  --spacing-super-tight: 2px;
  --spacing-extra-tight: 4px;
  --spacing-tight: 8px;
  --spacing-base-tight: 12px;
  --spacing-base: 16px;
  --spacing-base-loose: 20px;
  --spacing-loose: 24px;
  --spacing-extra-loose: 32px;
  --spacing-super-loose: 40px;
}
