.dme-body {
  --dme-black: 0, 0, 0;
  --dme-red-0: 254, 242, 237;
  --dme-red-1: 254, 221, 210;
  --dme-red-2: 253, 183, 165;
  --dme-red-3: 251, 144, 120;
  --dme-red-4: 250, 102, 76;
  --dme-red-5: 249, 57, 32;
  --dme-red-6: 213, 37, 21;
  --dme-red-7: 178, 20, 12;
  --dme-red-8: 142, 8, 5;
  --dme-red-9: 106, 1, 3;
  --dme-white: 255, 255, 255;
  --dme-blue-0: 234, 245, 255;
  --dme-blue-1: 203, 231, 254;
  --dme-blue-2: 152, 205, 253;
  --dme-blue-3: 101, 178, 252;
  --dme-blue-4: 50, 149, 251;
  --dme-blue-5: 0, 119, 250;
  --dme-blue-6: 0, 98, 214;
  --dme-blue-7: 0, 79, 179;
  --dme-blue-8: 0, 61, 143;
  --dme-blue-9: 0, 44, 107;
  --dme-cyan-0: 229, 247, 248;
  --dme-cyan-1: 194, 239, 240;
  --dme-cyan-2: 138, 221, 226;
  --dme-cyan-3: 88, 203, 211;
  --dme-cyan-4: 44, 184, 197;
  --dme-cyan-5: 5, 164, 182;
  --dme-cyan-6: 3, 134, 152;
  --dme-cyan-7: 1, 105, 121;
  --dme-cyan-8: 0, 77, 91;
  --dme-cyan-9: 0, 50, 61;
  --dme-grey-0: 249, 249, 249;
  --dme-grey-1: 230, 231, 234;
  --dme-grey-2: 198, 199, 205;
  --dme-grey-3: 167, 168, 176;
  --dme-grey-4: 136, 137, 146;
  --dme-grey-5: 107, 108, 117;
  --dme-grey-6: 85, 86, 97;
  --dme-grey-7: 65, 66, 76;
  --dme-grey-8: 46, 46, 56;
  --dme-grey-9: 28, 28, 35;
  --dme-lime-0: 242, 250, 230;
  --dme-lime-1: 227, 246, 197;
  --dme-lime-2: 203, 237, 142;
  --dme-lime-3: 183, 227, 91;
  --dme-lime-4: 167, 218, 44;
  --dme-lime-5: 155, 209, 0;
  --dme-lime-6: 126, 174, 0;
  --dme-lime-7: 99, 139, 0;
  --dme-lime-8: 72, 104, 0;
  --dme-lime-9: 47, 70, 0;
  --dme-pink-0: 253, 236, 239;
  --dme-pink-1: 251, 207, 216;
  --dme-pink-2: 246, 160, 181;
  --dme-pink-3: 242, 115, 150;
  --dme-pink-4: 237, 72, 123;
  --dme-pink-5: 233, 30, 99;
  --dme-pink-6: 197, 19, 86;
  --dme-pink-7: 162, 11, 72;
  --dme-pink-8: 126, 5, 58;
  --dme-pink-9: 90, 1, 43;
  --dme-teal-0: 228, 247, 244;
  --dme-teal-1: 192, 240, 232;
  --dme-teal-2: 135, 225, 211;
  --dme-teal-3: 84, 209, 193;
  --dme-teal-4: 39, 194, 176;
  --dme-teal-5: 0, 179, 161;
  --dme-teal-6: 0, 149, 137;
  --dme-teal-7: 0, 119, 111;
  --dme-teal-8: 0, 90, 85;
  --dme-teal-9: 0, 60, 58;
  --dme-amber-0: 254, 251, 235;
  --dme-amber-1: 252, 245, 206;
  --dme-amber-2: 249, 232, 158;
  --dme-amber-3: 246, 216, 111;
  --dme-amber-4: 243, 198, 65;
  --dme-amber-5: 240, 177, 20;
  --dme-amber-6: 200, 138, 15;
  --dme-amber-7: 160, 102, 10;
  --dme-amber-8: 120, 70, 6;
  --dme-amber-9: 80, 43, 3;
  --dme-brand-0: 236, 239, 248;
  --dme-brand-1: 209, 216, 240;
  --dme-brand-2: 167, 179, 225;
  --dme-brand-3: 128, 144, 211;
  --dme-brand-4: 94, 111, 196;
  --dme-brand-5: 63, 81, 181;
  --dme-brand-6: 51, 66, 161;
  --dme-brand-7: 40, 52, 140;
  --dme-brand-8: 31, 40, 120;
  --dme-brand-9: 23, 29, 99;
  --dme-green-0: 236, 247, 236;
  --dme-green-1: 208, 240, 208;
  --dme-green-2: 164, 225, 167;
  --dme-green-3: 125, 209, 130;
  --dme-green-4: 90, 194, 98;
  --dme-green-5: 59, 179, 70;
  --dme-green-6: 48, 149, 59;
  --dme-green-7: 37, 119, 47;
  --dme-green-8: 27, 90, 36;
  --dme-green-9: 17, 60, 24;
  --dme-indigo-0: 236, 239, 248;
  --dme-indigo-1: 209, 216, 240;
  --dme-indigo-2: 167, 179, 225;
  --dme-indigo-3: 128, 144, 211;
  --dme-indigo-4: 94, 111, 196;
  --dme-indigo-5: 63, 81, 181;
  --dme-indigo-6: 51, 66, 161;
  --dme-indigo-7: 40, 52, 140;
  --dme-indigo-8: 31, 40, 120;
  --dme-indigo-9: 23, 29, 99;
  --dme-orange-0: 255, 248, 234;
  --dme-orange-1: 254, 238, 204;
  --dme-orange-2: 254, 217, 152;
  --dme-orange-3: 253, 193, 101;
  --dme-orange-4: 253, 166, 51;
  --dme-orange-5: 252, 136, 0;
  --dme-orange-6: 210, 103, 0;
  --dme-orange-7: 168, 74, 0;
  --dme-orange-8: 126, 49, 0;
  --dme-orange-9: 84, 29, 0;
  --dme-purple-0: 247, 233, 247;
  --dme-purple-1: 239, 203, 240;
  --dme-purple-2: 221, 155, 225;
  --dme-purple-3: 201, 112, 209;
  --dme-purple-4: 180, 74, 194;
  --dme-purple-5: 158, 40, 179;
  --dme-purple-6: 135, 31, 159;
  --dme-purple-7: 113, 23, 138;
  --dme-purple-8: 92, 16, 118;
  --dme-purple-9: 73, 10, 97;
  --dme-violet-0: 243, 237, 249;
  --dme-violet-1: 226, 209, 244;
  --dme-violet-2: 196, 167, 233;
  --dme-violet-3: 166, 127, 221;
  --dme-violet-4: 136, 91, 210;
  --dme-violet-5: 106, 58, 199;
  --dme-violet-6: 87, 47, 179;
  --dme-violet-7: 70, 37, 158;
  --dme-violet-8: 54, 28, 138;
  --dme-violet-9: 40, 20, 117;
  --dme-yellow-0: 255, 253, 234;
  --dme-yellow-1: 254, 251, 203;
  --dme-yellow-2: 253, 243, 152;
  --dme-yellow-3: 252, 232, 101;
  --dme-yellow-4: 251, 218, 50;
  --dme-yellow-5: 250, 200, 0;
  --dme-yellow-6: 208, 170, 0;
  --dme-yellow-7: 167, 139, 0;
  --dme-yellow-8: 125, 106, 0;
  --dme-yellow-9: 83, 72, 0;
  --dme-light-blue-0: 233, 247, 253;
  --dme-light-blue-1: 201, 236, 252;
  --dme-light-blue-2: 149, 216, 248;
  --dme-light-blue-3: 98, 195, 245;
  --dme-light-blue-4: 48, 172, 241;
  --dme-light-blue-5: 0, 149, 238;
  --dme-light-blue-6: 0, 123, 202;
  --dme-light-blue-7: 0, 99, 167;
  --dme-light-blue-8: 0, 75, 131;
  --dme-light-blue-9: 0, 53, 95;
  --dme-light-green-0: 243, 248, 236;
  --dme-light-green-1: 227, 240, 208;
  --dme-light-green-2: 200, 226, 165;
  --dme-light-green-3: 173, 211, 126;
  --dme-light-green-4: 147, 197, 91;
  --dme-light-green-5: 123, 182, 60;
  --dme-light-green-6: 100, 152, 48;
  --dme-light-green-7: 78, 121, 38;
  --dme-light-green-8: 57, 91, 27;
  --dme-light-green-9: 37, 61, 18;
}

body[dme-theme='dark'] .dme-body {
  --dme-black: 0, 0, 0;
  --dme-red-0: 106, 1, 3;
  --dme-red-1: 142, 8, 5;
  --dme-red-2: 178, 20, 12;
  --dme-red-3: 213, 37, 21;
  --dme-red-4: 249, 57, 32;
  --dme-red-5: 250, 102, 76;
  --dme-red-6: 251, 144, 120;
  --dme-red-7: 253, 183, 165;
  --dme-red-8: 254, 221, 210;
  --dme-red-9: 254, 242, 237;
  --dme-white: 255, 255, 255;
  --dme-blue-0: 0, 44, 107;
  --dme-blue-1: 0, 61, 143;
  --dme-blue-2: 0, 79, 179;
  --dme-blue-3: 0, 98, 214;
  --dme-blue-4: 0, 119, 250;
  --dme-blue-5: 50, 149, 251;
  --dme-blue-6: 101, 178, 252;
  --dme-blue-7: 152, 205, 253;
  --dme-blue-8: 203, 231, 254;
  --dme-blue-9: 234, 245, 255;
  --dme-cyan-0: 0, 50, 61;
  --dme-cyan-1: 0, 77, 91;
  --dme-cyan-2: 1, 105, 121;
  --dme-cyan-3: 3, 134, 152;
  --dme-cyan-4: 5, 164, 182;
  --dme-cyan-5: 44, 184, 197;
  --dme-cyan-6: 88, 203, 211;
  --dme-cyan-7: 138, 221, 226;
  --dme-cyan-8: 194, 239, 240;
  --dme-cyan-9: 229, 247, 248;
  --dme-grey-0: 28, 28, 35;
  --dme-grey-1: 46, 46, 56;
  --dme-grey-2: 65, 66, 76;
  --dme-grey-3: 85, 86, 97;
  --dme-grey-4: 107, 108, 117;
  --dme-grey-5: 136, 137, 146;
  --dme-grey-6: 167, 168, 176;
  --dme-grey-7: 198, 199, 205;
  --dme-grey-8: 230, 231, 234;
  --dme-grey-9: 249, 249, 249;
  --dme-lime-0: 47, 70, 0;
  --dme-lime-1: 72, 104, 0;
  --dme-lime-2: 99, 139, 0;
  --dme-lime-3: 126, 174, 0;
  --dme-lime-4: 155, 209, 0;
  --dme-lime-5: 167, 218, 44;
  --dme-lime-6: 183, 227, 91;
  --dme-lime-7: 203, 237, 142;
  --dme-lime-8: 227, 246, 197;
  --dme-lime-9: 242, 250, 230;
  --dme-pink-0: 90, 1, 43;
  --dme-pink-1: 126, 5, 58;
  --dme-pink-2: 162, 11, 72;
  --dme-pink-3: 197, 19, 86;
  --dme-pink-4: 233, 30, 99;
  --dme-pink-5: 237, 72, 123;
  --dme-pink-6: 242, 115, 150;
  --dme-pink-7: 246, 160, 181;
  --dme-pink-8: 251, 207, 216;
  --dme-pink-9: 253, 236, 239;
  --dme-teal-0: 0, 60, 58;
  --dme-teal-1: 0, 90, 85;
  --dme-teal-2: 0, 119, 111;
  --dme-teal-3: 0, 149, 137;
  --dme-teal-4: 0, 179, 161;
  --dme-teal-5: 39, 194, 176;
  --dme-teal-6: 84, 209, 193;
  --dme-teal-7: 135, 225, 211;
  --dme-teal-8: 192, 240, 232;
  --dme-teal-9: 228, 247, 244;
  --dme-amber-0: 80, 43, 3;
  --dme-amber-1: 120, 70, 6;
  --dme-amber-2: 160, 102, 10;
  --dme-amber-3: 200, 138, 15;
  --dme-amber-4: 240, 177, 20;
  --dme-amber-5: 243, 198, 65;
  --dme-amber-6: 246, 216, 111;
  --dme-amber-7: 249, 232, 158;
  --dme-amber-8: 252, 245, 206;
  --dme-amber-9: 254, 251, 235;
  --dme-brand-0: 23, 29, 99;
  --dme-brand-1: 31, 40, 120;
  --dme-brand-2: 40, 52, 140;
  --dme-brand-3: 51, 66, 161;
  --dme-brand-4: 63, 81, 181;
  --dme-brand-5: 94, 111, 196;
  --dme-brand-6: 128, 144, 211;
  --dme-brand-7: 167, 179, 225;
  --dme-brand-8: 209, 216, 240;
  --dme-brand-9: 236, 239, 248;
  --dme-green-0: 17, 60, 24;
  --dme-green-1: 27, 90, 36;
  --dme-green-2: 37, 119, 47;
  --dme-green-3: 48, 149, 59;
  --dme-green-4: 59, 179, 70;
  --dme-green-5: 90, 194, 98;
  --dme-green-6: 125, 209, 130;
  --dme-green-7: 164, 225, 167;
  --dme-green-8: 208, 240, 208;
  --dme-green-9: 236, 247, 236;
  --dme-indigo-0: 23, 29, 99;
  --dme-indigo-1: 31, 40, 120;
  --dme-indigo-2: 40, 52, 140;
  --dme-indigo-3: 51, 66, 161;
  --dme-indigo-4: 63, 81, 181;
  --dme-indigo-5: 94, 111, 196;
  --dme-indigo-6: 128, 144, 211;
  --dme-indigo-7: 167, 179, 225;
  --dme-indigo-8: 209, 216, 240;
  --dme-indigo-9: 236, 239, 248;
  --dme-orange-0: 84, 29, 0;
  --dme-orange-1: 126, 49, 0;
  --dme-orange-2: 168, 74, 0;
  --dme-orange-3: 210, 103, 0;
  --dme-orange-4: 252, 136, 0;
  --dme-orange-5: 253, 166, 51;
  --dme-orange-6: 253, 193, 101;
  --dme-orange-7: 254, 217, 152;
  --dme-orange-8: 254, 238, 204;
  --dme-orange-9: 255, 248, 234;
  --dme-purple-0: 73, 10, 97;
  --dme-purple-1: 92, 16, 118;
  --dme-purple-2: 113, 23, 138;
  --dme-purple-3: 135, 31, 159;
  --dme-purple-4: 158, 40, 179;
  --dme-purple-5: 180, 74, 194;
  --dme-purple-6: 201, 112, 209;
  --dme-purple-7: 221, 155, 225;
  --dme-purple-8: 239, 203, 240;
  --dme-purple-9: 247, 233, 247;
  --dme-violet-0: 40, 20, 117;
  --dme-violet-1: 54, 28, 138;
  --dme-violet-2: 70, 37, 158;
  --dme-violet-3: 87, 47, 179;
  --dme-violet-4: 106, 58, 199;
  --dme-violet-5: 136, 91, 210;
  --dme-violet-6: 166, 127, 221;
  --dme-violet-7: 196, 167, 233;
  --dme-violet-8: 226, 209, 244;
  --dme-violet-9: 243, 237, 249;
  --dme-yellow-0: 83, 72, 0;
  --dme-yellow-1: 125, 106, 0;
  --dme-yellow-2: 167, 139, 0;
  --dme-yellow-3: 208, 170, 0;
  --dme-yellow-4: 250, 200, 0;
  --dme-yellow-5: 251, 218, 50;
  --dme-yellow-6: 252, 232, 101;
  --dme-yellow-7: 253, 243, 152;
  --dme-yellow-8: 254, 251, 203;
  --dme-yellow-9: 255, 253, 234;
  --dme-light-blue-0: 0, 53, 95;
  --dme-light-blue-1: 0, 75, 131;
  --dme-light-blue-2: 0, 99, 167;
  --dme-light-blue-3: 0, 123, 202;
  --dme-light-blue-4: 0, 149, 238;
  --dme-light-blue-5: 48, 172, 241;
  --dme-light-blue-6: 98, 195, 245;
  --dme-light-blue-7: 149, 216, 248;
  --dme-light-blue-8: 201, 236, 252;
  --dme-light-blue-9: 233, 247, 253;
  --dme-light-green-0: 37, 61, 18;
  --dme-light-green-1: 57, 91, 27;
  --dme-light-green-2: 78, 121, 38;
  --dme-light-green-3: 100, 152, 48;
  --dme-light-green-4: 123, 182, 60;
  --dme-light-green-5: 147, 197, 91;
  --dme-light-green-6: 173, 211, 126;
  --dme-light-green-7: 200, 226, 165;
  --dme-light-green-8: 227, 240, 208;
  --dme-light-green-9: 243, 248, 236;
}
