@use '../../../styles/common';
@use './icon-button.scss';

.dme-button {
  box-shadow: none;

  @include common.font-size-regular;

  height: var(--dme-height-control-default);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border: var(--dme-border-thinkness) transparent solid;
  border-radius: var(--dme-border-radius-small);
  padding-left: var(--dme-spacing-base-tight);
  padding-right: var(--dme-spacing-base-tight);
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: var(--dme-font-weight-bold);
  outline: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &.dme-button-primary,
  &.dme-button-secondary,
  &.dme-button-tertiary,
  &.dme-button-warning,
  &.dme-button-danger {
    &:focus-visible {
      // outline: 2px solid var(--dme-color-primary-light-active);
      outline: none;
    }
  }

  &-danger {
    background-color: var(--dme-color-danger);
    color: rgba(var(--dme-white), 1);
    transition:
      background-color var(--dme-transition_duration-none) var(--dme-transition_function-easeIn)
        var(--dme-transition_delay-none),
      border var(--dme-transition_duration-none) var(--dme-transition_function-easeIn) var(--dme-transition_delay-none);
    transform: scale(var(--dme-transform_scale-none));

    &-disabled {
      background-color: var(--dme-color-disabled-bg);

      &.dme-button-light {
        background-color: var(--dme-color-fill-0);
      }
    }

    &:hover {
      background-color: var(--dme-color-danger-hover);
    }

    &:active {
      background-color: var(--dme-color-danger-active);
    }

    &.dme-button-light,
    &.dme-button-borderless {
      color: var(--dme-color-danger);
    }

    &:not(.dme-button-borderless):not(.dme-button-light):focus-visible {
      // outline: 2px solid var(--dme-color-danger-light-active);
      outline: none;
    }
  }

  &-warning {
    background-color: var(--dme-color-warning);
    color: rgba(var(--dme-white), 1);
    transition:
      background-color var(--dme-transition_duration-none) var(--dme-transition_function-easeIn)
        var(--dme-transition_delay-none),
      border var(--dme-transition_duration-none) var(--dme-transition_function-easeIn) var(--dme-transition_delay-none);
    transform: scale(var(--dme-transform_scale-none));

    &-disabled {
      background-color: var(--dme-color-disabled-bg);

      &.dme-button-light {
        background-color: var(--dme-color-fill-0);
      }
    }

    &:hover {
      background-color: var(--dme-color-warning-hover);
    }

    &:active {
      background-color: var(--dme-color-warning-active);
    }

    &.dme-button-light,
    &.dme-button-borderless {
      color: var(--dme-color-warning);
    }

    // &:not(.dme-button-borderless):not(.dme-button-light):focus-visible {
    //   outline: 2px solid var(--dme-color-warning-light-active);
    // }
  }

  &-tertiary {
    background-color: var(--dme-color-tertiary);
    color: rgba(var(--dme-white), 1);
    transition:
      background-color var(--dme-transition_duration-none) var(--dme-transition_function-easeIn)
        var(--dme-transition_delay-none),
      border var(--dme-transition_duration-none) var(--dme-transition_function-easeIn) var(--dme-transition_delay-none);
    transform: scale(var(--dme-transform_scale-none));

    &-disabled {
      background-color: var(--dme-color-disabled-bg);

      &.dme-button-light {
        background-color: var(--dme-color-fill-0);
      }
    }

    &:hover {
      background-color: var(--dme-color-tertiary-hover);
    }

    &:active {
      background-color: var(--dme-color-tertiary-active);
    }

    &.dme-button-light,
    &.dme-button-borderless {
      color: var(--dme-color-text-1);
    }
  }

  &-primary {
    background-color: var(--dme-color-primary);
    color: rgba(var(--dme-white), 1);
    transition:
      background-color var(--dme-transition_duration-none) var(--dme-transition_function-easeIn)
        var(--dme-transition_delay-none),
      border var(--dme-transition_duration-none) var(--dme-transition_function-easeIn) var(--dme-transition_delay-none);
    transform: scale(var(--dme-transform_scale-none));

    &-disabled {
      background-color: var(--dme-color-disabled-bg);

      &.dme-button-light {
        background: var(--dme-color-fill-0);
      }
    }

    &:not(.dme-button-borderless):not(.dme-button-light):hover {
      background-color: var(--dme-color-primary-hover);
    }

    &:not(.dme-button-borderless):not(.dme-button-light):active {
      background-color: var(--dme-color-primary-active);
    }

    &.dme-button-light,
    &.dme-button-borderless {
      color: var(--dme-color-primary);
    }
  }

  &-secondary {
    background-color: var(--dme-color-secondary);
    // outline-color: var(--dme-color-secondary);
    color: rgba(var(--dme-white), 1);
    transition:
      background-color var(--dme-transition_duration-none) var(--dme-transition_function-easeIn)
        var(--dme-transition_delay-none),
      border var(--dme-transition_duration-none) var(--dme-transition_function-easeIn) var(--dme-transition_delay-none);
    transform: scale(var(--dme-transform_scale-none));

    &-disabled {
      background-color: var(--dme-color-disabled-bg);

      &.dme-button-light {
        background-color: var(--dme-color-disabled-bg);
      }
    }

    &:hover {
      background-color: var(--dme-color-secondary-hover);
    }

    &:active {
      background-color: var(--dme-color-secondary-active);
    }

    &.dme-button-light,
    &.dme-button-borderless {
      color: var(--dme-color-secondary);
    }
  }

  &-disabled {
    color: var(--dme-color-disabled-text);

    &:not(.dme-button-borderless):not(.dme-button-light):hover {
      color: var(--dme-color-disabled-text);
    }

    cursor: not-allowed;

    &.dme-button-light,
    &.dme-button-borderless {
      color: var(--dme-color-disabled-text);
    }
  }

  &-borderless {
    background-color: transparent;
    border: 0 transparent solid;
    transition: background-color var(--dme-transition_duration-none) var(--dme-transition_function-easeIn)
      var(--dme-transition_delay-none);
    transform: scale(var(--dme-transform_scale-none));

    &:not(.dme-button-disabled):hover {
      background-color: var(--dme-color-fill-0);
      border: 0 transparent solid;
    }

    &:not(.dme-button-disabled):active {
      background-color: var(--dme-color-fill-1);
      border: 0 transparent solid;
    }
  }

  &-light {
    background-color: var(--dme-color-fill-0);
    border: 0 transparent solid;
    transition:
      background-color var(--dme-transition_duration-none) var(--dme-transition_function-easeIn)
        var(--dme-transition_delay-none),
      border var(--dme-transition_duration-none) var(--dme-transition_function-easeIn) var(--dme-transition_delay-none);
    transform: scale(var(--dme-transform_scale-none));

    &:not(.dme-button-disabled):hover {
      background-color: var(--dme-color-fill-1);
      border: 0 transparent solid;
    }

    &:not(.dme-button-disabled):active {
      background-color: var(--dme-color-fill-2);
      border: 0 transparent solid;
    }
  }

  &-size-small {
    height: var(--dme-height-control-small);
    padding-top: var(--dme-spacing-super-tight);
    padding-bottom: var(--dme-spacing-super-tight);
    padding-left: var(--dme-spacing-base-tight);
    padding-right: var(--dme-spacing-base-tight);
  }

  &-size-large {
    height: var(--dme-height-control-large);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: var(--dme-spacing-base);
    padding-right: var(--dme-spacing-base);
  }

  &-block {
    width: 100%;
  }
}
