#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.editor {
  border: solid 1px #f8f8f8;
  border-radius: 6px;
  width: calc(50% - 12px);
}

.viewer {
  border: solid 1px #f8f8f8;
  border-radius: 6px;
  padding: 12px;
  width: calc(50% - 12px);
}
