.dme-button-minor {
  .dme-button-content {
    color: rgba(var(--dme-grey-2), 1);
  }

  &:hover {
    color: var(--dme-color-text-1);

    .dme-button-content {
      color: var(--dme-color-text-1);
    }
  }

  &:active {
    color: var(--dme-color-text-1);
    background-color: var(--dme-color-tertiary-active);

    .dme-button-content {
      color: var(--dme-color-text-1);
    }
  }
}
