.minor {
  :global(.dme-button-content) {
    color: rgba(var(--grey-2), 1);
  }

  &:hover {
    color: var(--color-text-1);

    :global(.dme-button-content) {
      color: var(--color-text-1);
    }
  }

  &:active {
    color: var(--color-text-1);
    background-color: var(--color-tertiary-active);

    :global(.dme-button-content) {
      color: var(--color-text-1);
    }
  }
}
